# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Cache
.cache/
*.tmp

# Hugging Face spaces
hf_cache/
output/
runs/

# OS files
.DS_Store
Thumbs.db

# Model files
*.bin
*.pt
*.json
